*{
    padding: 0;margin: 0;box-sizing: border-box;
    font-family: monospace;
}
.main{
    background-image: radial-gradient(rgb(171, 60, 60),rgb(44, 44, 188));
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin: 10px;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(199, 240, 227, 0.546);
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h2{
    background: #5757577d;
    border-radius: 10px;
    padding: 10px 20px;
    /* width: 300px; */
    text-align: center;
    color:white;
}
h1{
    text-align: center;
}
#restaurant{
    height: 40px;
}

#add{
    background-color: rgb(139, 242, 139);
    border: none;
    border-radius: 3px;
    padding: 4px 8px
}
#start{
    background-color: rgb(242, 167, 218);
    border: none;
    border-radius: 3px;
    padding: 4px 8px
}
input{
    padding: 4px 8px;
    width: 220px;
    border-radius: 3px;
}
li{
    font-weight: 600;
    font-size: large;
}